header {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1f2937; /* gray-800 */
}

header span {
  color: #374151; /* gray-700 */
  font-weight: 500;
}

header img {
  border-radius: 9999px;
  width: 40px;
  height: 40px;
}
